* {
	color: #fff;
	font-family: Arial, sans-serif;
}

div, input, dialog {
	border-radius: 5px;
	padding: 2px;
}

body {
	background-color: #121212;
}

dialog {
	border: 1px solid #fff5;
	background-color: #323232;
	padding: 5px;
}

dialog::backdrop {
	background-color: #fff2;
}

input, button {
	border: 1px solid #fffa;
	background-color: #2e2e2e;
}

#messages-view {
	border: 1px solid #555;
	overflow: auto;
	max-height: 90vh;
	height: fit-content;
	width: 95vw;
}

#username-label {
	display: inline;
}

#message-input {
	/* only tested in chrome */
	width: -webkit-fill-available;
}

.user-message, .system-message {
	border: 1px solid #555;
	padding: 4px;
}

.user-message {
	background-color: #2e2e2e;
}

.system-message {
	background-color: #2e2e66;
}
