div, input, dialog {
	border-radius: 5px;
	padding: 2px;
}

dialog {
	position: absolute;
}

::backdrop {
	background-color: rgba(0, 0, 0, 0.5);
}

body {
	background-color: #121212;
	color: #fff;
	font-family: Arial, sans-serif;
}

dialog {
	border: 1px solid #555;
	background-color: #323232;
	color: #fff;
}

input, button {
	border: 1px solid #555;
	background-color: #2e2e2e;
	color: #fff;
}

#messages-view {
	overflow: auto;
	border: 1px solid #555;
}

.user-message, .system-message {
	padding: 4px;
	border: 1px solid #555;
	color: #fff;
}

.user-message {
	background-color: #2e2e2e;
}

.system-message {
	background-color: #2e2e66;
}
